<h3>Hi, <%= @board.name %> </h3>

<p><%= @content %></p>

<hr>

<h2> Here are a seller offering the ticket that match your request. Visit our website and get the deal before it too late !!!</h2>

<hr>

<p>
  Best, <br>
  from Ticket Exchange Platform
</p>
