<div class="top2_wrapper">
  <div class="container">
    <div class="top2 clearfix">
      <header>
        <div class="logo_wrapper">
          <a href="index.html" class="logo">
            <%= link_to tickets_path do %>
              <img src="http://placehold.it/190x60" alt="" class="img-responsive">
            <% end %>
          </a>
        </div>
      </header>
      <div class="navbar navbar_ navbar-default"></div>
    </div>
  </div>
</div>

<div id="google_map_wrapper">
  <div id="google_map">
  </div>
</div>