<%= render partial: "shared/navbar" %>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog_content">
            <div class="post post-full">

              <div class="post-story">
                <h2>那些東西不能帶上飛機</h2>
                <div class="post-story-info">
                  <div class="date1">May 1st, 2018</div>
                  <div class="by">Posted by <a href="#">New-Hold-Release</a></div>
                </div>

                  <h4>下面寫出幾個大家常常會有疑惑「到底能不能帶？應該怎麼帶？」的物品，如果覺得自己這次出國要帶的東西「太特別」，像是特殊藥物以及醫療用品，一定要上民航局的網站或者致電詢問到底能不能攜帶！
                  這邊主要提供的資訊是與「飛航安全」有關的物品攜帶資訊，如果攜帶太多藥妝、菸酒、貨幣等等物品需要繳納關稅！</h4>
                  <h4> <a href="http://www.caa.gov.tw/big5/content/index01.asp?sno=1401">✎交通部民用航空局飛航安全資訊</a></h4>
                  <h4> <a href="http://www.baphiq.gov.tw/index.php">✎入境旅客攜帶常見動物或其產品檢疫規定</a></h4>

                  <hr>
                  <div class="col-sm-12 airline">

                    <h3>特別注意物品</h3>

                    <img src="/images/213.png" alt="">
                    <hr>
                    <h3>危險物品</h3>
                    <h4>危險物品禁止手提或託運上機，有些生活用品旅客常常不小心就放在隨身行李中，像是鉛筆盒裡的剪刀，這種小東西要特別注意！</h4>
                    <img src="/images/4ge4g4.jpg" alt="">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>
