<%= render partial: "shared/navbar" %>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog_content">
            <div class="post post-full">

              <div class="post-story">
                <h2>各家廉航登機、報到規定總整理！</h2>
                <div class="post-story-info">
                  <div class="date1">May 1st, 2018</div>
                  <div class="by">Posted by <a href="#">New-Hold-Release</a></div>
                </div>

                  <h4>要搭機出國前，總會稍微煩惱一下到底該提前多久去機場？一般來說提前兩個小時到機場櫃台報到、托運行李最為保險，但難免會遇到趕時間的狀況。
                  尤其是搭乘廉航，櫃台幾乎都是準時關閉，一旦晚了幾分鐘錯過報到及登機時間，就等於自動放棄位子，也就是所謂的No show，搭乘廉航No show幾乎是完全不賠償任何費用的，
                  所以大家出國前一定要好好確認一下航空公司的報到和登機時間！以下跟大家分享各家廉航公司的「壓線時間」！</h4>
                  <hr>
                  <div class="col-sm-12 airline">
                    <h3>✈亞航</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>機場櫃檯報到將會向旅客收取服務費用，若想避免收費可以使用網路或行動裝置自行報到。</p>
                    <p>請注意，從 吉隆坡國際機場2(klia2) 機場出發的旅客必須自行進行自助報到，無法臨櫃!</p>
                    <p>♦ 國際航班：起飛前3小時～起飛前1小時。</p>
                    <h4>網路報到</h4>
                    <p>網路報到可以讓旅客省去機場排隊等候的時間，只要在網路上完成報到流程，列印出網路登機證或是將二維條碼保存至手機內，到達機場後便能快速完成報到！</p>
                    <p>提醒您：孕婦、帶嬰兒同行、16歲以下獨自搭機、行動不便或是有醫療狀況、特殊疾病的旅客不適用，必須到機場服務櫃台辦理。</p>
                    <p>♦ 網路報到：起飛時間前14天～1小時。</p>
                    <h4>行動報到</h4>
                    <p>想要使用方便的行動報到功能，只需先下載亞航的app，填入機票資料後即報到完成。報到成功後會收到一組二維條碼，前往機場後於「自助報到機 (kiosks)」掃描條碼，便可以得到登機證啦！</p>
                    <p>♦ 行動報到：起飛時間前14天～1小時。</p>
                    <h4>登機門關閉時間</h4>
                    <p>登機前必須預留足夠時間辦理登機手續、行李托運、海關。登機門將於起飛時間前20分鐘關閉，若無法於20分鐘前抵達登機口，可能會被拒絕登機。</p>
                    <p>♦ 航班號碼 AK,PQ,FD,QZ開頭：登機口於起飛前30分鐘關閉。</p>
                    <p>♦ 航班號碼 D7開頭：登機口於起飛前60分鐘關閉。</p>
                    <hr>
                    <h3>✈虎航</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>♦ 國際航班：起飛前2小時30分～起飛前45分鐘。</p>
                    <h4>網路報到：只有新加坡虎航開放</h4>
                    <p>雖然虎航官網有提供網路登機的選項，但是目前僅有新加坡虎航開放網路登機功能，搭乘台灣虎航的朋友們要再等等！</p>
                    <h4>優先登機</h4>
                    <p>虎航有推出優先登機(board me first)服務，可以於起飛時間4小時前上網加購(NT$150)。</p>
                    <h4>登機門關閉時間</h4>
                    <p>遲到的旅客將拒絕登機，若有已上機的托運行李也會被撤下飛機，並且不支付任何機票補償。</p>
                    <p>♦ 所有航班：登機口於起飛前30分鐘開放～起飛前10至15分鐘關閉。</p>
                    <hr>
                    <h3>✈香草</h3>
                    <p>目前香草航空國際線僅開放機場櫃檯報到。日本國內線則有提供自到報到櫃員機、網路線上報到服務。</p>
                    <p>♦ 國際航班：起飛前2小時～起飛前50分鐘。</p>
                    <p>♦ 日本國內航班：起飛前1小時30分～起飛前30分鐘。</p>
                    <h4>登機門關閉時間</h4>
                    <p>♦ 所有航班：登機口於起飛前20分鐘關閉。</p>
                    <hr>
                    <h3>✈樂桃</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>樂桃航空台灣出發航線皆為機場櫃檯報到，而日本出發的（羽田機場除外）則必須使用自助登機專櫃(Kiosk)，自行辦理登機手續。皆須在航班出發50分鐘前完成行李托運。</p>
                    <p>♦ 國際航班（台灣出發）：起飛前2小時～起飛前50分鐘。</p>
                    <p>♦ 國際航班（日本出發）：起飛前2小時～起飛前50分鐘。</p>
                    <p>必須事先列印行程確認信件，準備好護照及簽證（若入境國家需要），前往自助登機櫃台掃描條碼，取得登機證。</p>
                    <h4>登機門關閉時間</h4>
                    <p>♦ 所有航班：登機口於起飛前30分鐘關閉。</p>
                    <hr>
                    <h3>✈捷星</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>♦ 航班號碼JQ（波音787客機）：起飛前3小時起～起飛前1小時。</p>
                    <p>♦ 航班號碼 JQ（A320、A321客機）、GK：起飛前3小時起～起飛前45分鐘。</p>
                    <p>♦ 航班號碼3K、BL：起飛前2小時起～起飛前45分鐘。</p>
                    <h4>網路報到：僅捷星亞洲適用</h4>
                    <p>目前僅有捷星亞洲（航班號碼3K）之國際航班能使用網路報到後直接登機服務。若不需要托運行李，事先在家列印出登機牌，抵達機場後便能直接前往登機口。</p>
                    <p>其與（航班號碼3K之外）航班可以於家中辦理網路報到，節省排隊時間，但仍需前往機場登機櫃台出示身分證件，領取登機證。</p>
                    <p>♦ 網路報到：可於起飛時間前48小時～1小時內上網辦理。</p>
                    <h4>登機門關閉時間</h4>
                    <p>請於指定時間抵達登機口，逾時可能無法登上航班，並且會損失全額機票不作任何補償。</p>
                    <p>♦ 航班號碼JQ、GK、BL開頭：登機口於起飛前40分鐘開放～起飛前15分鐘關閉。</p>
                    <p>♦ 航班號碼3K開頭：登機口於起飛前40分鐘開放～起飛前10分鐘關閉。</p>
                    <hr>
                    <h3>✈酷航</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>酷航建議提前兩小時抵達機場，以便於時間內辦理報到手續。</p>
                    <p>♦ 國際航班：起飛前3小時～起飛前1小時。</p>
                    <h4>網路報到：僅有新加坡</h4>
                    <p>目前僅有從新加坡出發或是從新加坡離境之旅客（不包含轉機航班）才能辦理網路報到。</p>
                    <p>提醒您：不適用於特殊需求旅客（如身障者、購買倍增空間座位之旅客）、團體旅客。</p>
                    <p>♦ 網路報到：起飛前72小時～起飛前3小時。</p>
                    <h4>提前報到：新加坡獨家服務</h4>
                    <p>酷航推出了只有新加坡獨有的「提前報到」服務，讓旅客可以提前12小時就前往櫃台提前辦理登機手續、托運行李，這樣登機前的一整天就能悠哉的逛逛新加坡市區，好好的享受一頓美食或逛逛好玩的樟宜機場，再輕鬆登機啦！</p>
                    <p>提醒您：只有從新加坡離境的旅客可以享受此服務，並且不需要另外付費！若想要辦理提前登機，可以前往樟宜機場第二航廈第十行櫃台處進行辦理。</p>
                    <p>♦ 航班運作時間以內：酷航商務艙櫃台</p>
                    <p>♦ 非航班運作時間：酷航之任何櫃台</p>
                    <h4>優先登機</h4>
                    <p>另外也可以選擇購買酷航的優先登機服務，從各個國家起飛都能夠省去排隊的麻煩！只要於購票時加購PlusPerks組合，就能享受優先登機服務，另外還可以累積KrisFlyer里程數、選擇加大座位、彈性更改班機等等。</p>
                    <h4>登機門關閉時間</h4>
                    <p>♦所有航班：登機口於起飛前60分鐘開啟～起飛前20分鐘關閉。</p>
                    <hr>
                    <h3>✈宿霧</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>♦ 國際航班：起飛前8小時～起飛前1小時。</p>
                    <p>宿霧航空提供方便的網路報到服務，但是以下旅客不適用於網路報到，仍必續提前兩小時到達機場櫃檯進行報到動作。</p>
                    <p>♦ 孕婦</p>
                    <p>♦ 帶嬰兒登機的旅客</p>
                    <p>♦ 團體10人（或以上）的旅客</p>
                    <p>♦ 轉機的旅客</p>
                    <p>♦ 聯運航班（含轉機）的旅客</p>
                    <h4>網路報到</h4>
                    <p>♦ 網路報到：國際航班起飛前7天～起飛前4小時。</p>
                    <p>♦ 網路報到：國內航班起飛前7天～起飛前1小時。</p>
                    <p>提醒您：部分旅客「不適用」網路報到，請參考上面「機場櫃檯報到」</p>
                    <h4>登機門關閉時間</h4>
                    <p>宿霧航空於預定起飛時間30分鐘前會關閉登機門，若超過登機時間，將有可能無法登機。</p>
                    <p>♦ 國際航班：登機口於起飛前45分鐘開啟～起飛前30分鐘關閉。</p>
                    <hr>
                    <h3>✈越捷航空</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>♦ 國際航班：起飛前2小時～起飛前45分鐘。</p>
                    <p>♦ 國內航班：起飛前2小時～起飛前30分鐘。</p>
                    <h4>登機門關閉時間</h4>
                    <p>♦ 所有航班：登機口於起飛前30分鐘關閉。</p>
                    <hr>
                    <h3>✈濟州航空</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>♦ 國際航班：起飛前2小時～起飛前1小時。</p>
                    <p>♦ 國內航班：起飛前40分鐘～起飛前20分鐘。</p>
                    <p> >>詳細資訊請見官網</p>
                    <h4>網路報到：僅限仁川機場、韓國國內線</h4>
                    <p>國際線僅限於仁川機場出發之航線適用。韓國國內線全線可使用。上網辦理登機手續後，需以智慧型手機出示二維條碼（QR Code）至機場安檢通道辦理通關手續。</p>
                    <p>♦ 網路報到：國際航班起飛前1天～起飛前90分鐘。</p>
                    <p>♦ 網路報到：國內航班起飛前1天～起飛前30小時。</p>
                    <h4>登機門關閉時間</h4>
                    <p>♦ 國際航班：登機口於起飛前30分鐘開啟～起飛前15分鐘關閉。</p>
                    <p>♦ 國內航班：登機口於起飛前20分鐘開啟～起飛前5分鐘關閉。</p>
                    <hr>
                    <h3>✈香港快運</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>櫃檯報到服務時間依出發航點不同而稍有差異。以下舉例時段為台灣較熱門出發航點之規定時間。（台中、香港、東京、福岡、名古屋、清邁）</p>
                    <p>♦ 國際航班：起飛前3小時～起飛前1小時。</p>
                    <h4>登機</h4>
                    <p>♦ 國際航班：登機口於起飛前20分鐘關閉。</p>
                    <hr>
                    <h3>✈春秋航空</h3>
                    <h4>機場櫃檯報到</h4>
                    <p>♦ 國際航班：起飛前2小時~30分鐘。</p>
                    <h4>網路報到</h4>
                    <p>可以選擇列印傳統登機證，或是將二維條碼（QR Code）存入智慧型手機中。</p>
                    <p>♦ 國際航班：起飛前24小時可於網路辦理。</p>
                    <h4>登機門關閉時間</h4>
                    <p>♦ 國際航班：登機口於於起飛前30分鐘關閉。</p>
                    <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>
