<%= render partial: "shared/navbar" %>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog_content">
            <div class="post post-full">

              <div class="post-story">
                <h2>台灣廉價航空-直飛航線整理</h2>
                <div class="post-story-info">
                  <div class="date1">May 1st, 2018</div>
                  <div class="by">Posted by <a href="#">New-Hold-Release</a></div>
                </div>
                <div class="post-story-body-airline clearfix">
                  <p>
                   目前台灣有許多家廉價航空的選擇，讓台灣民眾可以由台北、桃園、台中、高雄等地出發飛往世界各地，這裡介紹重點廉航的航線給大家參考。
                  </p>
                  <hr>
                  <div class="col-sm-4 airline">
                    <img src="/images/logo_01.jpg" alt="">
                    <h3><a href="http://www.flypeach.com/pc/tw">樂桃航空</a> Peach</h3>
                    <p>台北桃園直飛：大阪、沖繩、東京(羽田)、札幌</p>
                    <p>高雄小港直飛：大阪</p>
                  </div>
                  <div class="col-sm-4 airline">
                    <img src="/images/logo_02.jpg" alt="">
                    <h3><a href="https://www.jetstar.com/tw/zh/home">捷星航空</a> Jetstar</h3>
                    <p>台北(桃園)直飛：大阪、新加坡、東京(成田)、名古屋、峴港</p>
                  </div>
                  <div class="col-sm-4 airline">
                    <img src="/images/logo_03.png" alt="">
                    <h3><a href="https://www.flyscoot.com/zhtw">酷航</a> Scoot</h3>
                    <p>台北(桃園)直飛：東京、首爾、新加坡、札幌</p>
                    <p>高雄小港直飛 : 新加坡、大阪</p>
                  </div>
                  <div class="col-sm-4 airline">
                  <img src="/images/logo_04.jpg" alt="">
                    <h3><a href="https://www.vanilla-air.com/tw">香草航空</a> Vanilla Air</h3>
                    <p>台北(桃園)直飛：東京、大阪、沖繩、胡志明市</p>
                    <p>高雄小港直飛: 東京</p>
                  </div>
                  <div class="col-sm-4 airline">
                  <img src="/images/logo_05.jpg" alt="">
                    <h3><a href="http://www.tigerairtw.com/zh-tw">虎航</a> Tigerair</h3>
                    <p>台北(桃園)直飛：新加坡、曼谷、東京、大阪、福岡、名古屋、沖繩、澳門、大邱</p>
                    <p>高雄小港直飛：東京、大阪、澳門</p>
                  </div>
                  <div class="col-sm-4 airline">
                    <img src="/images/logo_06.jpg" alt="">
                    <h3><a href="https://www.airasia.com/tw/zh/home.page">全亞洲航空</a>  Airasia</h3>
                    <p>台北桃園直飛：馬來西亞-吉隆坡、亞庇(沙巴)</p>
                    <p>高雄小港直飛：吉隆坡</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>