<%= render partial: "shared/navbar" %>
<div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog_content">
            <div class="post post-full">

              <div class="post-story">
                <h2>台灣廉價航空-免費行李限重及尺寸總整理</h2>
                <div class="post-story-info">
                  <div class="date1">May 1st, 2018</div>
                  <div class="by">Posted by <a href="#">New-Hold-Release</a></div>
                </div>
                <div class="post-story-body-lagage clearfix">
                  <p>
                   台灣的廉價航空百百家，每一家的行李限制都有些不同，為了省錢，就是要連行李托運費用一起斤斤計較。以下我們整理台灣主要各家廉航的相關規定，幫助大家省荷包。
                  </p>
                  <hr>
                  <div class="col-sm-6 lagage">
                    <img src="/images/logo_01.jpg" alt="">
                    <h3><a href="http://www.flypeach.com/pc/tw">樂桃航空</a> Peach</h3>
                    <img src="/images/peach31.png" alt="">
                  </div>
                  <div class="col-sm-6 lagage">
                    <img src="/images/logo_02.jpg" alt="">
                    <h3><a href="https://www.jetstar.com/tw/zh/home">捷星航空</a> Jetstar</h3>
                    <img src="/images/jetstat.png" alt="">
                  </div>
                  <div class="col-sm-6 lagage">
                    <img src="/images/logo_03.png" alt="">
                    <h3><a href="https://www.flyscoot.com/zhtw">酷航</a> Scoot</h3>
                    <img src="/images/scott.png" alt="">
                  </div>
                  <div class="col-sm-6 lagage">
                    <img src="/images/logo_04.jpg" alt="">
                    <h3><a href="https://www.vanilla-air.com/tw">香草航空</a> Vanilla Air</h3>
                    <img src="/images/345.png" alt="">
                  </div>
                  <div class="col-sm-6 lagage">
                  <img src="/images/logo_05.jpg" alt="">
                    <h3><a href="http://www.tigerairtw.com/zh-tw">虎航</a> Tigerair</h3>
                    <img src="/images/tiger4.png" alt="">
                  </div>
                  <div class="col-sm-6 lagage">
                    <img src="/images/logo_06.jpg" alt="">
                    <h3><a href="https://www.airasia.com/tw/zh/home.page">全亞洲航空</a>  Airasia</h3>
                    <img src="/images/airaisa5.png" alt="">
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>