<%= render partial: "shared/navbar" %>
<%= link_to '懶人包首頁', articles_path %>
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog_content">
            <div class="post post-full">

              <div class="post-story">
                <h2>台灣廉價航空-二手票券計價說明</h2>
                <div class="post-story-info">
                  <div class="date1">May 1st, 2018</div>
                  <div class="by">Posted by <a href="#">New-Hold-Release</a></div>
                </div>

                  <hr>
                  <div class="col-sm-12 airline">
                    <h3>票價計算方式:</h3>
                    <h4><b>♦買方付出價錢 = 機票價差(目前官網價 - 機票購入價) + 轉讓費</h4>
                    <h4>=>>因票差浮動，建議轉讓前再次致電客服以獲取正確轉讓費</h4>
                    <hr>
                    <h3>✈酷航 scoot</h3>
                    <h4>更名費NT$1800 /每人單程，若購買者在買票時有加購 PlusPerks 則可免費改名。</h4>
                    <hr>
                    <h3>✈台灣虎航 tigerair taiwan</h3>
                    <h4>更名費NT$1500 /每人單程 + 票差費用</h4>
                    <h4><a href="http://www.tigerairtw.com/zh-tw/ready-to-go/fees"> >>詳細資訊請見官網</a> </h4>
                    <hr>
                    <h3>✈捷星 jetstar</h3>
                    <h4>更名費JPY$6500/ 每人單程 如購買者在買票時買的是Starter以外的套餐，則可免費變更名字。</h4>
                    <h4><a href="https://www.jetstar.com/tw/zh/help/articles/fees-and-charges"> >>詳細資訊請見官網</a> </h4>
                    <hr>
                    <h3>目前廉航以下幾家不能更名:</h3>
                    <h4>✈亞洲航空 airasia</h4>
                    <h4>✈香草 vanilla air</h4>
                    <h4>✈樂桃 peach</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>
