<%= render partial: "shared/navbar" %>
<%= link_to '懶人包首頁', articles_path %>
  <!-- Content -->
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="blog_content">
            <div class="post post-full">
              <div class="post-header">
                <div class="post-slide">
                  <div id="sl1">
                    <a class="sl1_prev" href="#"></a>
                    <a class="sl1_next" href="#"></a>
                    <div class="sl1_pagination"></div>
                    <div class="carousel-box">
                      <div class="inner">
                        <div class="carousel main">
                          <div class="sl1">
                            <div class="sl1_inner">
                              <img src="images/visa.jpg" alt="" class="img-responsive">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-story">
                <h2>台灣免簽國家整理</h2>
                <div class="post-story-info">
                  <div class="date1">May 1st, 2018</div>
                  <div class="by">Posted by <a href="#">New-Hold-Release</a></div>
                </div>
                <div class="post-story-body clearfix">
                  <p>
                    目前台灣的免簽國家已經多達164個國家及地區囉！以下表格針對大家常去的國家進行整理，需要詳細資訊可以查閱<a href="https://www.boca.gov.tw/cp-10-194-168af-1.html">外交部領事事務局</a>。
                  </p>
                  <h4>簽證種類</h4>
                  <table id="visa">
                    <tr>
                      <th>簽證種類</th>
                      <th>說明</th>
                    </tr>
                    <tr>
                      <td>免簽證</td>
                      <td>不需申請任何簽證，持有我國護照即可出國。</td>
                    </tr>
                    <tr>
                      <td>落地簽</td>
                      <td>出發前不需申請目的地國的簽證，而是到該國後再辦理。</td>
                    </tr>
                    <tr>
                      <td>電子簽</td>
                      <td>出國前先行上網申請簽證。</td>
                    </tr>
                  </table>
                  <hr>
                  <h4>亞太地區</h4>
                  <p>
                    國人常去的日本、韓國、等國家通常都不用簽證，或是申請電子簽、落地簽即可。
                  </p>
                  <img src="/images/apvisa.png" alt="">
                  <hr>
                  <h4>美洲區域</h4>
                  <img src="/images/americavisa.png" alt="">
                  <hr>
                  <h4>歐洲區域</h4>
                  <img src="/images/euvisa.png" alt="">
                  <hr>
                  <h4>可用電子簽前往的國家</h4>
                  <img src="/images/evisa.png" alt="">            
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "shared/footer"%>
    