<%= render partial: "shared/navbar" %>
<div id="content">
  <div class="container">
    <div class="row">     
      <div class="col-sm-9">
          <div class="blog_content">

              <div class="num-comments">Posted Flight Tickets</div>

              <div class="comment-block clearfix">
                  <figure>
                      <img src="http://placehold.it/70x70" alt="" class="img-responsive">
                  </figure>
                  <div class="caption">
                      <div class="top clearfix">
                          <div class="txt1">By <a href="#">George Smith</a></div>
                          <span>|</span>
                          <div class="txt2">Date: 06 March, 2016</div>
                          <span>|</span>
                          <div class="txt3"><a href="#">Reply</a></div>
                      </div>
                      <div class="txt">
                          Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                          Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                          lectorum.
                      </div>
                  </div>
              </div>

              <div class="num-comments">Posted Coupon</div>

              <div class="comment-block clearfix">
                  <figure>
                      <img src="http://placehold.it/70x70" alt="" class="img-responsive">
                  </figure>
                  <div class="caption">
                      <div class="top clearfix">
                          <div class="txt1">By <a href="#">George Smith</a></div>
                          <span>|</span>
                          <div class="txt2">Date: 06 March, 2016</div>
                          <span>|</span>
                          <div class="txt3"><a href="#">Reply</a></div>
                      </div>
                      <div class="txt">
                          Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                          Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                          lectorum.
                      </div>
                  </div>
              </div>

              <div class="num-comments">Posted Railticket</div>

              <div class="comment-block clearfix">
                  <figure>
                      <img src="http://placehold.it/70x70" alt="" class="img-responsive">
                  </figure>
                  <div class="caption">
                      <div class="top clearfix">
                          <div class="txt1">By <a href="#">George Smith</a></div>
                          <span>|</span>
                          <div class="txt2">Date: 06 March, 2016</div>
                          <span>|</span>
                          <div class="txt3"><a href="#">Reply</a></div>
                      </div>
                      <div class="txt">
                          Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
                          Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                          lectorum.
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="blog_sidebar">
          <h3>Categories</h3>
          <ul class="ul4">
            <li><a href="#">Travel Agency<span>125</span></a></li>
            <li><a href="#">Flights<span>97</span></a></li>
            <li><a href="#">Hotels<span>56</span></a></li>
            <li><a href="#">Cruises<span>24</span></a></li>
            <li><a href="#">Car<span>13</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer"%>