
<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright © 2018 <strong>NewHoldRelease</strong> <span>|</span> <a href="#">Privacy Policy</a> <span>|</span>
    </div>
  <div class="right_side">Designed by <strong>NewHoldRelease</strong></div>
</div>
