<div class="bot1_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="logo2_wrapper">
          <a href="" class="logo2">
            <%= link_to tickets_path do %>
            <img src="/images/logo4.jpg" alt="" class="img-responsive">
            <% end %>
          </a>
        </div>
        <p>
          We offer ticket exchange platform in Taiwan. Welcome to share and exchange any ticket information on the platform, including flight tickets, flight coupons, HSR tickets, multiday pass, park tickets.
        </p>
        <div class="phone2">(02) 651-651-65 </div>
        <div class="support1"><a href="#">support@new_hold_release.com</a></div>
      </div>
      <div class="col-sm-5">
        <div class="bot1_title">訂閱電子報</div>
        <div class="newsletter_block">
          <div class="txt1">獲得最新機票交換資訊，立刻輸入您的Email</div>
          <div class="newsletter-wrapper clearfix">
            <!-- Begin MailChimp Signup Form -->
           <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
           <style type="text/css">
               #mc_embed_signup{background:#222222; clear:left; font:14px Helvetica,Arial,sans-serif; }
               /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
              /* #mc_embed_signup_scroll{background:black; clear:left; font:14px Helvetica,Arial,sans-serif; } */
           </style>
           <div id="mc_embed_signup">
            <form action="https://facebook.us12.list-manage.com/subscribe/post?u=dff4dee48039e63b2cd2298af&amp;id=401cf3539d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <!-- <label for="mce-EMAIL">Newsletter</label> -->
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dff4dee48039e63b2cd2298af_401cf3539d" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-default btn4"></div>
              </div>
            </form>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright © 2018 <strong>NewHoldRelease</strong> <span>|</span> <a href="#">Privacy Policy</a> <span>|</span>
    </div>
  <div class="right_side">Designed by <strong>NewHoldRelease</strong></div>
</div>
